<div class="wrapper">
    <div v-if="!createdPatient">
      <h3>
        Registrieren Sie hier neue Patienten in IMIS. Bitte füllen Sie den Bogen
        vollständig aus.
      </h3>

      <a-form
        :form="form"
        :layout="'horizontal'"
        :labelCol="{ span: 6 }"
        :wrapperCol="{ span: 14, offset: 2 }"
        @submit="handleSubmit"
      >
        <a-collapse defaultActiveKey="1">
          <a-collapse-panel header="Allgemeines" key="1">
            <a-row>
              <a-col :md="12">
                <a-form-item label="Nachname">
                  <a-input
                    v-decorator="['lastName', { rules: [{ required: true }] }]"
                  />
                </a-form-item>
                <a-form-item label="Vorname">
                  <a-input
                    v-decorator="['firstName', { rules: [{ required: true }] }]"
                  />
                </a-form-item>
                <a-form-item label="Geschlecht">
                  <a-radio-group
                    v-decorator="['gender', { rules: [{ required: true }] }]"
                    buttonStyle="solid"
                  >
                    <a-radio value="male">Männl.</a-radio>
                    <a-radio value="female">Weibl.</a-radio>
                    <a-radio value="divers">Div.</a-radio>
                  </a-radio-group>
                </a-form-item>
                <a-form-item label="Geburtsdatum">
                  <a-date-picker
                    :format="dateFormat"
                    v-decorator="[
                      'dateOfBirth',
                      { rules: [{ required: true }] }
                    ]"
                    placeholder="Datum wählen"
                  />
                </a-form-item>
                <a-form-item label="Krankenkasse">
                  <a-input v-decorator="['insuranceCompany']" />
                </a-form-item>
                <a-form-item label="Versichertenr.">
                  <a-input v-decorator="['insuranceMembershipNumber']" />
                </a-form-item>
              </a-col>
              <a-col :md="12">
                <a-form-item label="E-mail">
                  <a-input
                    v-decorator="['email', { rules: [{ required: true }] }]"
                  />
                </a-form-item>
                <a-form-item label="Telefon">
                  <a-input
                    v-decorator="[
                      'phoneNumber',
                      { rules: [{ required: true }] }
                    ]"
                  />
                </a-form-item>
                <a-form-item label="Straße">
                  <a-input
                    v-decorator="['street', { rules: [{ required: true }] }]"
                  />
                </a-form-item>
                <a-form-item label="Hausnr.">
                  <a-input
                    v-decorator="[
                      'houseNumber',
                      { rules: [{ required: true }] }
                    ]"
                  />
                </a-form-item>
                <a-form-item label="PLZ">
                  <a-input
                    v-decorator="['zip', { rules: [{ required: true }] }]"
                  />
                </a-form-item>
                <a-form-item label="Ort">
                  <a-input
                    v-decorator="['city', { rules: [{ required: true }] }]"
                  />
                </a-form-item>
              </a-col>
            </a-row>
          </a-collapse-panel>
          <a-collapse-panel header="Infektionskette" key="2">
            <a-form-item
              label="Haben Sie Kontakt mit einem bestätigten Corona-Patienten gehabt?"
              :labelCol="{ div: 24 }"
              :wrapperCol="{ div: 24 }"
            >
              <a-radio-group
                v-decorator="[
                  'coronaContacts',
                  { rules: [{ required: false }] }
                ]"
              >
                <a-radio value="true">Ja</a-radio>
                <a-radio value="false">Nein</a-radio>
              </a-radio-group>
            </a-form-item>

            <a-form-item
              label="Haben Sie sich in einem / mehreren der folgenden Risikogebiete für Coronavirus aufgehalten?"
              :labelCol="{ div: 24 }"
              :wrapperCol="{ div: 24 }"
            >
              <span v-for="(riskArea, idx) in RISK_AREAS" :key="idx">
                <a-col :span="12">
                  <a-checkbox v-model="selectedRiskAreas[riskArea.key]">{{
                    riskArea.description
                  }}</a-checkbox>
                </a-col>
              </span>
            </a-form-item>
            <!-- ggf. Aufenthaltszeitraum ergänzen -->
          </a-collapse-panel>

          <a-collapse-panel header="Symptome" key="3">
            <a-form-item
              label="Leiden sie unter einem oder mehreren der folgenden Symptome?"
              :labelCol="{ div: 24 }"
              :wrapperCol="{ div: 24 }"
            >
              <span v-for="(symptom, idx) in SYMPTOMS" :key="idx">
                <a-col :span="12">
                  <a-checkbox v-model="selectedSymptoms[symptom.key]">{{
                    symptom.description
                  }}</a-checkbox>
                </a-col>
              </span>
            </a-form-item>

            <a-form-item
              label="Wie schnell sind die Beschwerden aufgetreten?"
              :labelCol="{ div: 24 }"
              :wrapperCol="{ div: 24 }"
            >
              <a-radio-group
                v-decorator="[
                  'speedOfSymptomsOutbreak',
                  { rules: [{ required: false }] }
                ]"
              >
                <a-radio value="suddenly"
                  >Plötzlich, innerhalb von einem Tag</a-radio
                >
                <a-radio value="slow"
                  >Langsam, innerhalb von mehreren Tagen</a-radio
                >
              </a-radio-group>
            </a-form-item>

            <a-form-item
              label="Haben Sie für diese Saison eine Influenza-Impfung erhalten?"
              :labelCol="{ div: 24 }"
              :wrapperCol="{ div: 24 }"
            >
              <a-radio-group
                v-decorator="[
                  'fluImmunization',
                  { rules: [{ required: false }] }
                ]"
              >
                <a-radio value="true">Ja</a-radio>
                <a-radio value="false">Nein</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-collapse-panel>
          <a-collapse-panel header="Vorerkrankungen" key="4">
            <a-form-item
              label="Haben Sie aufgrund einer Erkrankung ein geschwächtes Immunsystem?"
              :labelCol="{ div: 24 }"
              :wrapperCol="{ div: 24 }"
            >
              <a-radio-group
                v-decorator="[
                  'weakenedImmuneSystem',
                  { rules: [{ required: false }] }
                ]"
              >
                <a-radio value="true">Ja</a-radio>
                <a-radio value="false">Nein</a-radio>
              </a-radio-group>
            </a-form-item>

            <a-form-item
              label="Leiden Sie an einer / mehreren der folgenden Erkrankungen?"
              :labelCol="{ div: 24 }"
              :wrapperCol="{ div: 24 }"
            >
              <span v-for="(illness, idx) in ILLNESSES" :key="idx">
                <a-col :span="12">
                  <a-checkbox v-model="selectedPreIllnesses[illness.key]">{{
                    illness.description
                  }}</a-checkbox>
                </a-col>
              </span>
            </a-form-item>
          </a-collapse-panel>
        </a-collapse>

        <!-- Datenschutzerklärung Bestätigung-->
        <br />
        <a-form-item :wrapperCol="{ span: 24, offset: 0 }">
          <a-checkbox @change="onCheck">
            <span :class="dataProcessingClass">
              Ich erkläre mich mit der Übermittlung dieser Daten zur weiteren
              Verarbeitung einverstanden.
            </span>
          </a-checkbox>
        </a-form-item>

        <!-- Submit Button -->
        <a-form-item :wrapperCol="{ span: 24, offset: 0 }">
          <a-row :gutter="16" type="flex" justify="end">
            <a-col>
              <a-button type="primary" html-type="submit">
                Patient registrieren + Test anordnen
              </a-button>
            </a-col>
          </a-row>
        </a-form-item>
      </a-form>
    </div>
    <div v-else>
      <div>Der Patient wurde erfolgreich registriert.</div>
      <br />
      <div>Die Patienten ID lautet: {{ createdPatient.id }}</div>
    </div>
  </div>